/* Author: William Lucca */

body {
    background: #101e24;
    margin: 0;
}



/**********************
 * Header and Toolbar *
 **********************/

#toolbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #213d49;
}

#toolbar {
    margin: 5px;
}

hr {
    color: #69c2e8;
    background-color: #69c2e8;
    height: 1px;
    margin-bottom: 0;
}



/***********
 * Buttons *
 ***********/

button {
    height: 32px;
    margin: 0 4px;
    background-color: #213d49;
    color: #e2e2e2;
    border: #69c2e8 inset;
}

button:hover {background-color: #3b6f85}

#download {float: left}

#add-brush, #del-brush {float: right}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li img {
    display: block;
    text-align: center;
    padding: 4px;
}

li img:hover {
    background-color: #3b6f85;
}

.selected {
    background: #70d7ff;
}

/**********
 * Canvas *
 **********/

#canvas-container {
    width: 100%;
    margin-top: 150px;
    text-align: center;
}

#paint-canvas {
    background-color: white;
    display: inline;
    margin: 15px;
}
