/* Author: William Lucca */

any {

}

body {
    background: #13242b
}

h1 {
    font-family: "Arial Black", sans-serif;
    color: #bbb;
    text-align: center;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    background-color: white;
    display: inline;
}
